.background-view{
    background-image: linear-gradient(to right, #153562d0, #153562d0), url('../images/fondoPagina1.jpg');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-text{
    font-size: 40px;
    font-weight: bolder;
    margin: 10px;
    color: rgb(255, 255, 0);
    text-align: center;
    position: relative;
    top: -65px;
}

.logo{
    width:300px
}

.container-login-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -20px;
}

.login-text{
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    color: #ffffff;
}

.login-info{
    height: 25px;
    background-color: rgba(255, 255, 255, 0.438);
    border-style: none;
    border-radius: 5px;
    width: 200px;
    color: black;
    margin: 5px;
    text-align: center;
}

.login-info::placeholder {
    color: black;
}

.btn-login{
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    background-color: rgb(255, 255, 0);
    margin: 20px
}

.text-btn-login{
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.container-opt-login{
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.container-opt-signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
}

.logos-sign-in{
    display: flex;
}

.logo-social-media{
    width: 40px;
    padding: 0 10px;
}

.opt-new-user{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 70px;
    line-height: 2px;
}

.opt-create-new-user{
    color: #ffffff;
}

.btn-back{
    border-style: none;
    background-color: transparent;
}

.btn{
    position: relative;
    top: 50px;
    float: right;
}

.container-opt-back{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 130px;
    margin: 10p;
    right: 20px;
}

.btn-text-back{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

.text-back{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}