.btn-open-modal{
    display: flex;
    justify-content: center;
}

.btn-close{
    padding: 0 !important;
    min-width: 0px !important;
}

 body > div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div > div.MuiDialogActions-root.MuiDialogActions-spacing > button > span.MuiButton-label{
    color: yellow;
    font-weight: bold;
    font-size: 20px;
}

.modal-character{
    background: linear-gradient(169deg, rgb(1, 207, 159) 0%, rgba(0,31,142,1) 68%);
    width: 250px;
}

.name-image-character{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.text-character-type{
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0 15px 0;
}

.detail-container{
    margin-top: 30px;
}

.text-character-name{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
}

.text-character-detail{
    color: #ffff;
    font-size: 17px;
    margin: 8px 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.329);
    padding-bottom: 5px;
}

.text-weakness{
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 100px;;
}