.title-catalogue{
    color: #00214E;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0 !important;
    padding: 20px 0 10px 0;
}

.container-selects{
    display: flex;
    justify-content: space-around;
}

.container-search{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.cards-characters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 0;
}


.card{
    width: 130px;
    margin: 20px 20px;
    border: solid 2px gray;
    display: flex;
    justify-content: center;
}

.card:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0 0 20px #00214E;
}

.name-character{
    margin: 0;
    text-align: center;
}

.container-name-character{
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
