.backgroud-home{
    background-image: url('../images/background-home.png');
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #00214E;
    padding: 0;
    margin: 15px 0px;
}

.opt-home-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-btn-1{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -70px;
}

.btn-option-home{
    width: 170px;
    height: 45px;
    margin: 10px 0;
    border-style: none;
    border-radius: 5px;
    background-color: #f2181cd0;
}

.center{
    height: 70px;
}

.btn-option-play{
    width: 170px;
    height: 60px;
    margin: 10px 0;
    border-style: none;
    border-radius: 5px;
    background-color: #F2181B;
}

.text-option-home{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.container-btn-signout{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px;
}

.btn-signout{
    width: 110px;
    height: fit-content;
    margin: 10px 10px;
    border-style: none;
    border-radius: 5px;
    background-color: #00214E;
    padding: 10px;
}

.text-btn-signout{
    color: #ffffff;
    text-decoration: none;
}